<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bear的运维仪表盘</title>
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <script src="/static/js/jquery-3.6.0.js" charset="utf-8"></script>
    <script src="/static/js/backup.js" charset="utf-8"></script>
    <script>
        function init(status_num){
            document.getElementById('ftp').style.borderRightWidth = '10px';
            document.getElementById('ftp').style.borderRightStyle = 'solid';
            document.getElementById('ftp').style.borderRightColor = 'rgba(25,25,112,1)';
            document.getElementById('ftp').style.backgroundColor = 'rgba(25,25,112,0.6)' ;
            document.getElementById('ftp').style.width = '200px';

            if(status_num != 0)
            {
                document.getElementById('p1').style.color = 'red';

                backup_btn = document.getElementById('console_');
                backup_btn.setAttribute("disabled",true);
                backup_btn.style.cursor = 'not-allowed';
                backup_btn.style.backgroundColor = 'gray';

                restore_btn = document.getElementsByClassName('change');
                for(i=0; i < restore_btn.length; i++){
                    restore_btn[i].disabled = true;
                    restore_btn[i].style.cursor = 'not-allowed';
                    restore_btn[i].style.backgroundColor = 'gray';
                }

                delete_btn = document.getElementsByClassName('delete');
                for(n=0; n < delete_btn.length; n++){
                    delete_btn[n].disabled = true;
                    delete_btn[n].style.cursor = 'not-allowed';
                    delete_btn[n].style.backgroundColor = 'gray';
                }
            }
        }

        function confirm_del(name, num){
            if(num == 1){
                return;
            }else{
                var str = prompt("如需删除该备份，请输入“确认删除”");
                if(str == "确认删除"){
                    location.href = "delete_backup?file_name="+name;
                }else{
                    return;
                }
            }
        }

        function confirm_res(name, num){
            if(num == 1){
                return;
            }else{
                var str = prompt("确认使用该备份来还原吗？ 请输入“确认恢复”");
                if(str == "确认恢复"){
                    location.href = "restore_backup?file_name="+name;
                }else{
                    return;
                }
            }
        }


    </script>
<body onload="init('{{status_num}}')">
    <div id="main">
        <div id="left_menu">
            <div id="logo">
                <span style="width: 200px; color: #d0d0d0; font-size: 30px; position: relative; top: 25px; left: 50px; z-index: 1; font-family: 'STHupo'">
                    Dashboard</span>
            </div>
            <table id="left_table">
                <tr>
                    <td>Menu</td>
                </tr>
                <tr class="ch">
                    <td class="choice" id="management" onclick="location.href='management';"><a>✲<span style="margin-left: 20px">Management</span></a></td>
                </tr>
                <tr class="ch">
                    <td class="choice" id="monitor"  onclick="location.href='monitor';"><a>▦<span style="margin-left: 21px">Monitor</span></a></td>
                </tr>
                <tr class="ch">
                    <td class="choice" id="kubernetes" onclick="location.href='kuber';"><a>▞<span style="margin-left: 20px">Kubernetes</span></a></td>
                </tr>
                <tr class="ch">
                    <td class="choice" id="console" onclick="location.href='console';"><a>⌨<span style="margin-left: 13px">Console</span></a></td>
                </tr>
                <tr class="ch">
                    <td class="choice" id="log" onclick="location.href='log';"><a>◫<span style="margin-left: 22px">Log</span></a></td>
                </tr>
                <tr class="ch">
                    <td class="choice" id="ftp" onclick="location.href='/backup';"><a>↺<span style="margin-left: 22px">System Backup</span></a></td>
                </tr>
            </table>
        </div>
        <div id="top_menu">
            <table id="usr_info" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="usr_show">Host IP:<strong>&nbsp;&nbsp;&nbsp;&nbsp;{{ host_ip }}</strong></td>
                    <td class="usr_show">Current User:<strong>&nbsp;&nbsp;&nbsp;&nbsp;{{ usr_name }}</strong></td>
                    <td id="access">Can Manage:&nbsp;&nbsp;{{ usr_access }}</td>
                    <td id="logout" onclick="location.href='/login'">LogOut</td>
                </tr>
            </table>
        </div>
        <div id="show">
            <span id="title" style="color: #B22222; top: 30px; margin-left: 30px; position: relative; font-size: 24px;">
                <strong>系统备份管理&nbsp;&nbsp;System Backup</strong></span>
            <hr style="position: absolute; width: 1270px; height: 2px; background-color: black; border: 0px; top: 160px; left: 250px">
            <span id="p1" style="font-size: 22px; color: #3CB371; position: absolute; left: 280px; top: 180px"><strong>STATUS:&nbsp;&nbsp;&nbsp;&nbsp;{{status}}</strong></span>
            <span class="backup_title" style="left: 360px"><strong>FILE NAME</strong></span>
            <span class="backup_title" style="left: 645px"><strong>SIZE</strong></span>
            <span class="backup_title" style="left: 890px"><strong>TIME</strong></span>
            <span class="backup_title" style="left: 1262px"><strong>OPERATE</strong></span>
            <div id="backup_log" style="border-bottom: 2px dashed black; border-top: 2px dashed black; width: 83%; position: absolute; left: 250px; top: 270px; height: 22%; overflow-x: hidden; overflow-y: auto;">
                <table style="margin-left: 10px; margin-top: 0px;">
                    {% for f in all_backup %}
                    <tr>
                        <td class="f2_name">{{f.file}}</td>
                        <td class="f2_size" id="{{f.file}}">{{f.size}}</td>
                        <td class="f2_time">{{f.time}}</td>
                        <td class="change" onclick="confirm_res('{{f.file}}', '{{status_num}}')">Restore</td>
                        <td class="delete" onclick="confirm_del('{{f.file}}', '{{status_num}}')">Delete</td>
                        <td class="refresh" onclick="get_status('{{f.file}}')">↻</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="operation" style="margin-top: 320px; height: 275px; width: 1260px; margin-left: 250px;">
                <span style="font-size: 24px; margin-left: 20px; position: absolute; margin-top: 10px; color: #008080"><strong>创建备份</strong></span>
                <form method="post">
                    <span class="info_title" style="left: 20px">文件名</span><input type="text" name="file_name" class="backup_info" style="position: relative; margin-left: 70px" value="backup.tgz">
                    <span class="info_title" style="margin-left: 100px">忽略路径I</span><input type="text" name="exclude1" class="backup_info" style="position: relative" value="/proc">
                    <span class="info_title" style="margin-left: 100px">忽略路径II</span><input type="text" name="exclude2" class="backup_info" style="position: relative" value="/mnt"><br>
                    <span class="info_title" style="left: 20px; top: 120px">忽略路径III</span><input type="text" name="exclude3" class="backup_info" style="position: relative; top: 120px; left: 15px" value="/sys">
                    <span class="info_title" style="margin-left: 113px; top: 120px">忽略路径IV</span><input type="text" name="exclude4" class="backup_info" style="position: relative; top: 120px; left: -8px" value="/lost+found">
                    <span class="info_title" style="margin-left: 90px; top: 120px">忽略路径V</span><input type="text" name="exclude5" class="backup_info" style="position: relative; top: 120px; left: 5px" value="/tmp">
                    <button type="submit" id="console_" style="width: 180px; font-size: 18px; height: 50px; position: absolute; left: 1270px; top: 500px">
                        开始备份</button>
                    <span id="warning" style="position: absolute; color: red; top: 585px; left: 1266px"><strong>{{ERROR}}</strong></span>
                </form>
            </div>
        </div>
    </div>
</body>
</html>