<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>删除Pod</title>
    <link rel="stylesheet" href="/static/css/manage_pd.css">
    <script>
        function confirm(){
            if(document.getElementById('name_text').value == "")
            {
                alert("Pod名称不能为空");
                return false;
            }else{
                if(document.getElementById('ns_name').value == "")
                {
                    alert("请指定该pod的命名空间");
                    return false;
                }else{
                    return true;
                }
            }
        }
    </script>
</head>
<body>
    <form action="" method="post" onsubmit="return confirm()">
        <div id="register">
            <br><br>

            <p id="p1">删除Pod</p>

            <br>

            <strong><p class="header" style="color: #6C6C6C; margin-left: -30px">Pod名称</p></strong>
            <input type="text" name="pd_name" class="usr_text" value="" id="name_text">

            <br><br><br><br>
            <strong><p class="header" style="color: #6C6C6C;">所属命名空间</p></strong>
            <input type="text" name="ns_name" class="usr_text" value="" id="ns_text">

            <br><br><br><br>
            <button type="submit" id="btn" style="color: white; font-size: 16px;" onFocus="this.blur()">确认</button>
        </div>
    </form>
</body>
</html>